body {
  background-color: #b25fe6;
}



.counter-container {
  width: 300px;
  margin: 80px auto;
  padding: 30px;
  text-align: center;
  background-color: #f8f9fa;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.counter-container h2 {
  margin-bottom: 25px;
  font-size: 28px;
  color: #333;
}

.counter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.counter-box button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #6a1b9a;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.counter-box button:hover {
  background-color: #4a126d;
  transform: scale(1.05);
}

.counter-box span {
  min-width: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.reset-btn {
  margin-top: 25px;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: #dc3545;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn:hover {
  background-color: #b02a37;
  transform: scale(1.05);
}